
<div class="loader fixed top-0 left-0 z-50 bg-slate-900/70" id="loader">
  <div class="loader-wrapper">
    <span class="loader-letter">L</span>
    <span class="loader-letter">O</span>
    <span class="loader-letter">A</span>
    <span class="loader-letter">D</span>
    <span class="loader-letter">I</span>
    <span class="loader-letter">N</span>
    <span class="loader-letter">G</span>
    <span class="loader-letter">.</span>
    <span class="loader-letter">.</span>
    <span class="loader-letter">.</span>
    <!-- <span class="loader-letter">.</span>
    <span class="loader-letter">.</span>
    <span class="loader-letter">.</span> -->
    <div class="loader-circle"></div>
  </div>
</div>
