<div class="w-full overflow-hidden">
  <div
    #carousel
    class="flex gap-4">

    <div *ngFor="let item of displayItems" class="w-[295px] flex-shrink-0 bg-[#1a2433] text-white shadow-md rounded-lg p-4">
      <div class="mb-6 flex py-2">

        <span class="fa fa-star text-[#64DD17] mr-2" aria-hidden="true"></span>
        <span class="fa fa-star text-[#64DD17] mr-2" aria-hidden="true"></span>
        <span class="fa fa-star text-[#64DD17] mr-2" aria-hidden="true"></span>
        <span class="fa fa-star text-[#64DD17] mr-2" aria-hidden="true"></span>
        <span class="fa fa-star text-[#64DD17] mr-2" aria-hidden="true"></span>
      </div>
      <p class="text-gray-500">{{ item.title }}</p>
      <div class="flex  items-center justify-between py-2">
        <img src="{{ item.img }}" alt="" class="rounded w-16 h-16 object-cover" />
      </div>
      <span class="font-semibold">{{ item.name }}</span>
    </div>

  </div>
</div>
