<div class="w-full overflow-hidden">
  <div
    #carousel
    class="flex gap-4">

    <div *ngFor="let item of displayItems" class="min-w-[250px] flex-shrink-0 bg-white shadow-md rounded-lg p-4">
      <span class="fa fa-star text-[#64DD17] mr-2" aria-hidden="true"></span>
      <span class="fa fa-star text-[#64DD17] mr-2" aria-hidden="true"></span>
      <span class="fa fa-star text-[#64DD17] mr-2" aria-hidden="true"></span>
      <span class="fa fa-star text-[#64DD17] mr-2" aria-hidden="true"></span>
      <span class="fa fa-star text-[#64DD17] mr-2" aria-hidden="true"></span>
      <p class="font-semibold">{{ item.title }}</p>
      <span class="text-gray-500">{{ item.name }}</span>
    </div>

  </div>
</div>
