<div class="bg-[#00013A] w-full">
  <app-header></app-header>
</div>
<div class="bg-[#000b1c] w-full text-white">
  <div class="bg-[#000b1c] container mx-auto px-4 lg:py-5  text-white flex flex-col items-center justify-center h-auto ">
    <div class="w-[70%] p-6 mb-10flex flex-col gap-5 items-center justify-center">
      <h4 class="text-5xl! font-bold text-center mb-10 mt-6">Somos una empresa independiente de soluciones integrales.</h4>
      <p class="text-gray-500 text-xl mb-6" >Somos solutions for life y nos dedicamos a ofrecer soluciones integrales para mejorar tu vida y tus relaciones.
      Nuestro equipo de expertos en soluciones integrales está comprometido con ofrecer soluciones personalizadas para que puedas realizar tus mas de
        Impuestos, seguros,salud, Bienes raices,inmigración, etc.</p>
    </div>
    <div>
        <div class="grid  sm:grid-cols-1 lg:grid-cols-2  gap-5 justify-center items-center p-4 h-full">
          <div>
            <img src="/assets/images/nosotros_2.jpg" alt="">
          </div>
          <div class="flex flex-col gap-5 p-10">
            <div class="mb-6">
              <span class="bg-[#1a2433] text-white shadow-lg p-4 rounded"><i class="fa fa-check-double text-green-600 mr-3 "></i>Soluciones personalizadas</span>
            </div>
            <div class="flex flex-col gap-5 items-center justify-center mb-6">
               <h2 class="text-4xl font-bold mb-5">Aumente la eficiencia de su negocio con Mizzle.</h2>
               <p class="text-xl">Mejore su presencia en línea y emprenda un viaje hacia la excelencia digital con nuestro tema de agencia digital meticulosamente diseñado.</p>
            </div>
            <hr>
            <div class="flex flex-col gap-5 mb-10 mt-3">
              <p class="text-xl mb-2">En el centro de nuestro tema está el compromiso de proporcionar una plataforma sólida y versátil que se adapte a las diversas necesidades de las agencias digitales.</p>
              <ul>
                <li class="mb-2"><span class="fa-solid fa-check text-green-600 mr-2"></span>Formularios de contacto fáciles de usar</li>
                <li class="mb-2"><span class="fa-solid fa-check text-green-600 mr-2"></span>Formularios de contacto fáciles de usar</li>
                <li class="mb-2"><span class="fa-solid fa-check text-green-600 mr-2"></span>Formularios de contacto fáciles de usar</li>
                <li class="mb-2"><span class="fa-solid fa-check text-green-600 mr-2"></span>Formularios de contacto fáciles de usar</li>
              </ul>
            </div>
            <div class="mt-2">
                <a routerLink="/contact-us" class="bg-[#1a2433] text-white shadow-lg p-4 rounded w-full">Contactanos ahora <span><i class="fa fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>

        <div class="bg-[#000b1c] w-full p-10">
          <h2 class="text-4xl font-bold text-center p-3">¡Definiendo el futuro de las experiencias en línea!</h2>
          <p class="text-xl  text-center px-10">Nuestro equipo de expertos en soluciones integrales está comprometido con ofrecer soluciones personalizadas <br> para que puedas realizar tus mas de Impuestos, seguros,salud, Bienes raices,inmigración, etc.</p>
          <div class="grid  grid-cols-1 lg:grid-cols-4  gap-5 justify-center items-center p-10 h-full">
            <div class="p-4 flex flex-col gap-5 items-center justify-center">
              <div class="flex flex-col gap-5 items-center justify-center bg-[#1a2433] text-white hover:text-white transition duration-300 transform hover:-translate-y-1 hover:scale-110 shadow-lg p-10 rounded">
                <img src="/assets/images/img-equipo_1.jpg" class="rounded-[50%]" alt="">
                <p class="text-2xl font-bold">Juan Perez</p>
                <p>Miembro del equipo</p>
                <div class="flex gap-5 items-center justify-center">
                  <span class="fa-brands fa-x-twitter"></span>
                  <span class="fa-brands fa-instagram"></span>
                  <span class="fa-brands fa-square-facebook"></span>
                </div>

              </div>

            </div>
            <div class="p-4 flex flex-col gap-5 items-center justify-center">
              <div class="flex flex-col gap-5 items-center justify-center bg-[#1a2433] hover:text-white transition duration-300 transform hover:-translate-y-1 hover:scale-110 text-white shadow-lg p-10 rounded">
                <img src="/assets/images/img-equipo_1.jpg" class="rounded-[50%]" alt="">
                <p class="text-2xl font-bold">Juan Perez</p>
                <p>Miembro del equipo</p>
                <div class="flex gap-5 items-center justify-center">
                  <span class="fa-brands fa-x-twitter"></span>
                  <span class="fa-brands fa-instagram"></span>
                  <span class="fa-brands fa-square-facebook"></span>
                </div>

              </div>

            </div>
            <div class="p-4 flex flex-col gap-5 items-center justify-center">
              <div class="flex flex-col gap-5 items-center justify-center bg-[#1a2433] hover:text-white transition duration-300 transform hover:-translate-y-1 hover:scale-110 text-white shadow-lg p-10 rounded">
                <img src="/assets/images/img-equipo_1.jpg" class="rounded-[50%]" alt="">
                <p class="text-2xl font-bold">Juan Perez</p>
                <p>Miembro del equipo</p>
                <div class="flex gap-5 items-center justify-center">
                  <span class="fa-brands fa-x-twitter"></span>
                  <span class="fa-brands fa-instagram"></span>
                  <span class="fa-brands fa-square-facebook"></span>
                </div>

              </div>

            </div>
            <div class="p-4 flex flex-col gap-5 items-center justify-center">
              <div class="flex flex-col gap-5 items-center justify-center bg-[#1a2433] hover:text-white transition duration-300 transform hover:-translate-y-1 hover:scale-110 text-white shadow-lg p-10 rounded">
                <img src="/assets/images/img-equipo_1.jpg" class="rounded-[50%]" alt="">
                <p class="text-2xl font-bold">Juan Perez</p>
                <p>Miembro del equipo</p>
                <div class="flex gap-5 items-center justify-center">
                  <span class="fa-brands fa-x-twitter"></span>
                  <span class="fa-brands fa-instagram"></span>
                  <span class="fa-brands fa-square-facebook"></span>
                </div>

              </div>

            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
