
<header [class.fixed]="isSticky" [class.top-0]="isSticky" [class.shadow-md]="isSticky" 
        class="w-full z-90 p-4 theme-bg border-b theme-border page-transition">
  <nav class="max-w-7xl mx-auto flex items-center justify-between theme-text">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only text-white">Your Company</span>
        @if (!isSticky) {
          <img src="/assets/images/logo-white-background (2).svg" alt="" class="h-12 w-auto" />
        }
        @else {
          <img src="/assets/images/logo-white-background (2).svg" alt="" class="h-10 w-auto" />
        }
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" command="show-modal" commandfor="mobile-menu" 
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 theme-text theme-hover">
        <span class="sr-only">Open main menu</span>
        <span class="fa-solid fa-bars"></span>
      </button>
    </div>
    <el-popover-group class="hidden lg:flex justify-between lg:gap-x-12">
      <span [routerLink]="['/about-us']" [routerLinkActive]="['tab-active']" 
            class="p-2 rounded-lg text-xl font-semibold theme-text theme-hover cursor-pointer">
            {{"header.about us" | translate}}
      </span>
      <span [routerLink]="['/contact']" [routerLinkActive]="['tab-active']" 
            class="p-2 rounded-lg text-xl font-semibold theme-text theme-hover cursor-pointer">
            {{"header.contact" | translate}}
      </span>

      <div class="relative">
        <button popovertarget="desktop-menu-product" 
                class="p-2 flex items-center gap-x-1 text-xl font-semibold cursor-pointer theme-text theme-hover rounded-lg">
          {{"header.services" | translate}}
          <span class="fa-solid fa-chevron-down ml-1"></span>
        </button>

        <el-popover id="desktop-menu-product" anchor="bottom" popover 
                   class="w-screen max-w-md overflow-hidden rounded-lg theme-text theme-card shadow-lg transition-all duration-200 backdrop:bg-transparent 
                          open:block data-closed:translate-y-1 data-closed:opacity-0 data-enter:duration-200 
                          data-enter:ease-out data-leave:duration-150 data-leave:ease-in">
          <div class="p-3 theme-text">
            @for (item of this.services; track $index) {
              <div class="group relative flex items-center gap-x-3 rounded-lg p-2 text-xl theme-hover theme-text">
                <div class="flex size-11 flex-none items-center justify-center rounded-lg theme-text">
                  <span class="fa-solid text-xl" [ngClass]="item.icon"></span>
                </div>
                <div class="flex-auto">
                  <a [routerLink]="['/services', item.url]"
                     class="theme-text theme-hover text-xl"
                     (click)="onServiceClick()">
                    {{ item.title[this.langService.getLang()] | titlecase }}
                    <span class="absolute inset-0"></span>
                  </a>
                </div>
              </div>
            }
          </div>
        </el-popover>
      </div>
      <!-- <span  [routerLink]="['/company']" [routerLinkActive]="['tab-active']" class="p-2 rounded-sm text-sm/6 font-semibold text-white hover:bg-[#07a248] cursor-pointer">{{"header.company" | translate}}</span> -->
    </el-popover-group>
    <div class="hidden lg:flex lg:flex-1 gap-3 lg:justify-end">
      <!-- <span (click)="router.navigate(['login'])" class="p-2 rounded-sm text-sm/6 font-semibold text-white hover:bg-[#07a248]">{{"Login" | translate}} <span aria-hidden="true">&rarr;</span></span> -->
      <app-theme-toggle-button />
      <button popovertarget="menu-language" class="hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg p-2">
        <span class="fa-solid fa-globe"></span>
        <span class="fa-solid fa-chevron-down text-xs"></span>
      </button>
      <el-popover id="menu-language" anchor="bottom" popover class="w-fit max-w-md overflow-hidden text-xs theme-card shadow-lg ring-1 ring-gray-900/5 transition transition-discrete [--anchor-gap:--spacing(3)] backdrop:bg-transparent open:block data-closed:translate-y-1 data-closed:opacity-0 data-enter:duration-200 data-enter:ease-out data-leave:duration-150 data-leave:ease-in">
        <div class="hover:bg-[#07a248] rounded-md">
          <button (click)="switchLang('es')" class="theme-text p-2 cursor-pointer">🇪🇸 ES</button>
        </div>
        <div class="hover:bg-[#07a248] rounded-md">
          <button (click)="switchLang('en')" class="theme-text p-2 cursor-pointer">🇬🇧 EN</button>
        </div>
      </el-popover>
    </div>
  </nav>
  <el-dialog>
    <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
      <div tabindex="0" class="fixed inset-0 focus:outline-none">
        <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto theme-bg theme-card p-4 sm:max-w-sm">
          <div class="flex items-center justify-between">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Your Company</span>
              <img src="/assets/images/logo-white-background (2).svg" alt="" class="h-10 w-auto" />
            </a>
            <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 theme-text theme-hover">
              <span class="sr-only">Close menu</span>
              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-2 py-6">
                <span [routerLink]="['/about-us']" [routerLinkActive]="['tab-active']" 
                      class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold theme-text theme-hover">
                      {{"header.about us" | translate}}
                </span>
                <span [routerLink]="['/contact']" [routerLinkActive]="['tab-active']" 
                      class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold theme-text theme-hover">
                      {{"header.contact" | translate}}
                </span>
                <div class="-mx-3">
                  <button type="button" command="--toggle" commandfor="products" 
                          class="flex w-full items-center justify-between rounded-lg py-2 pr-3.5 pl-3 text-base/7 font-semibold theme-text theme-hover">
                    {{"header.services" | translate}}
                    <span class="fa-solid fa-chevron-down"></span>
                  </button>
                  <el-disclosure id="products" hidden class="mt-2 block space-y-2">
                    @for (item of this.services; track $index) {
                      <a [routerLink]="['/services', item.url]"
                         class="block rounded-lg py-2 pr-3 pl-6 text-sm/6 font-semibold theme-text theme-hover"
                         (click)="onServiceClick()">
                         {{ item.title[this.langService.getLang()] }}
                      </a>
                    }
                  </el-disclosure>
                </div>
                <!-- <span [routerLink]="['/company']" [routerLinkActive]="['tab-active']" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:text-white">{{"header.company" | translate}}</span> -->
              </div>
              <div class="py-6">
                <span [routerLink]="['/login']" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-white hover:text-white">{{"header.login" | translate}} <span aria-hidden="true">&rarr;</span></span>
              </div>
            </div>
          </div>

          <div id="menu-language2" class="flex w-full gap-3 text-xs justify-end items-center">
            <!-- Theme Toggle Button -->
            <button (click)="toggleTheme()" class="p-2 rounded-lg theme-hover theme-text">
              <span class="fa-solid" 
                    [class.fa-moon]="(currentTheme$ | async) === 'light'"
                    [class.fa-sun]="(currentTheme$ | async) === 'dark'">
              </span>
            </button>
            <div class="hover:bg-[#07a248] rounded-md">
              <button (click)="switchLang('es')" class="theme-text p-2 cursor-pointer">🇪🇸 ES</button>
            </div>
            <div class="hover:bg-[#07a248] rounded-md">
              <button (click)="switchLang('en')" class="theme-text p-2 cursor-pointer">🇬🇧 EN</button>
            </div>
          </div>
        </el-dialog-panel>
      </div>
    </dialog>
  </el-dialog>
</header>

