@import "@fortawesome/fontawesome-free/css/all.min.css";
* {
  font-family: 'Roboto', sans-serif;
}
.cuadro_principal {
  background-image: url('/assets/images/img-family-seguros.png');
  background-size: auto;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: left;
  background-size: contain;
}
.cuadro_serevices {
  background-image: url('/assets/images/primer-plano-de-una-persona-pensando-en-comprar-o-vender-una-casa.jpg');
  background-size: cover;  /* Hace que ocupe todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
  object-fit: contain;
  /* background-size: contain; */
}

@media screen and (max-width: 768px) {
  .cuadro_principal {
    background-position: top;

  }

}

