<app-header></app-header>
<div class="aling-center flex flex-col items-center justify-center color-primary ">
    <!-- SECTION DE INICIO -->
    <div class="relative bg-gradient-to-br w-full">
      <!-- Animated background elements -->
      <div class="absolute top-0 left-0 w-full h-full overflow-hidden opacity-20">
        <div class="absolute top-20 left-10 w-32 h-32 bg-blue-500 rounded-full filter blur-3xl animate-float1"></div>
        <div class="absolute top-40 right-20 w-40 h-40 bg-purple-500 rounded-full filter blur-3xl animate-float2"></div>
        <div class="absolute bottom-10 left-1/2 w-48 h-48 bg-cyan-500 rounded-full filter blur-3xl animate-float3"></div>
      </div>
      <div class="cuadro_principal relative  mx-auto px-4">
        <div class="absolute top-0 left-0 w-full h-full overflow-hidden opacity-50 z-0 bg-black">
          <img src="/assets/images/backgroundlanding.png" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col items-center text-center justify-center h-[90vh] w-full relative  text-white">
          <div class="flex flex-col items-center justify-center h-full w-full ">
            <h1 class="text-4xl font-bold">{{"introText" | translate}}</h1>
            <p class="text-2xl mb-5">{{"introText2" | translate}}</p>
            <a type="boton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ir a la página de sobre nosotros</a>
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION DE SOBRE NOSOTROS -->
      <div class="bg-white w-full">
        <div class="container mx-auto px-4 lg:py-5  bg-white flex justify-center h-auto ">
          <div class="w-full p-6 flex flex-col gap-5 items-center justify-center">

              <div class="grid  sm:grid-cols-2 lg:grid-cols-4  gap-5 justify-center items-center p-4 h-full  md:w-[60vw] lg:w-[60vw] xl:w-[70vw] w-[90vw]">
                <div class="p-4 flex flex-col items-center text-center justify-center h-[250px] shadow-lg border-t-4 border-t-indigo-0 border-t-indigo-500 rounded-sm">
                  <span class="fa fa-university text-[50px] text-[#8E8E8E] mb-2" aria-hidden="true"></span>
                  <h1 class="text-2xl font-bold text-[#8E8E8E]">Bienestar</h1>
                  <span class="">Te brindamos transparencia</span>
                </div>
                <div class="p-4 flex flex-col items-center text-center justify-center h-[250px] shadow-lg border-t-4 border-t-indigo-0 border-t-indigo-500 rounded-sm">
                  <span class="fa fa-handshake text-[50px] text-[#8E8E8E] mb-2" aria-hidden="true"></span>
                  <h1 class="text-2xl font-bold text-[#8E8E8E]">Seguridad</h1>
                  <span class="">Te brindamos transparencia</span>
                </div>
                <div class="p-4 flex flex-col items-center text-center justify-center h-[250px] shadow-lg border-t-4 border-t-indigo-0 border-t-indigo-500 rounded-sm">
                  <span class="fa fa-calendar text-[50px] text-[#8E8E8E] mb-2" aria-hidden="true"></span>
                  <h1 class="text-2xl font-bold text-[#8E8E8E]">Compromiso</h1>
                  <span class="">Te brindamos transparencia</span>
                </div>
                <div class="p-4 flex flex-col items-center text-center justify-center h-[250px] shadow-lg border-t-4 border-t-indigo-0 border-t-indigo-500 rounded-sm">
                  <span class="fa fa-users text-[50px] text-[#8E8E8E] mb-2" aria-hidden="true"></span>
                  <h1 class="text-2xl font-bold text-[#8E8E8E]">Personalizado</h1>
                  <span class="">Te brindamos transparencia</span>
                </div>


              </div>

            <div class="container mx-auto mb-10 px-4 flex gap-5 items-center justify-center">
              <div>
                <p>Proven track record of delivering results</p>
              </div>
              <div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ver Mas Servicios</button>

              </div>
            </div>
            <section class="py-6 px-3  w-full">

                <div class="grid lg:grid-cols-2 grid-cols-1   items-center justify-center h-full w-full">
                  <div class="lg:flex lg:grid-cols-2 gap-5 items-center justify-center h-full w-full">
                    <div class="flex flex-col items-center justify-around h-full w-full">
                      <img src="https://mizzle.webestica.com/assets/images/about/02.jpg" class="rounded" alt="">
                      <div class="h-[100px] w-full mb-10"></div>
                    </div>
                    <div>
                      <div class="flex flex-col items-center justify-center h-auto w-full">
                        <div class="grid-cols-2 gap-5 mb-5 flex items-center justify-center">
                          <div class="bg-black text-white p-2 rounded-sm text-center">
                            <h3 class="lg:text-[2.7rem] text-[1.8rem] font-bold">10+</h3>
                            <p class="lg:text-[1.5rem] font-bold">Years of experience</p>
                          </div>
                          <div class="bg-green-500 text-white p-2 rounded-sm text-center">
                             <h3 class="lg:text-[2.7rem] text-[1.8rem] font-bold">1.2K</h3>
                            <p class="lg:text-[1.5rem] font-bold">Happy costumers</p>
                          </div>
                        </div>
                        <div>
                          <img src="https://mizzle.webestica.com/assets/images/about/01.jpg" class="rounded" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col items-left lg:p-10 h-auto w-full">
                    <span class="mb-5 font-[400] bg-[#80808030] p-1 w-[265px]">Tu puerta de entrada al éxito digital</span>
                    <h2 class="mb-10 text-3xl! lg:text-4xl! font-bold">¡Definiendo el futuro de las experiencias en línea!</h2>
                    <p class="mb-10 font-[500] text-gray-400">Sumérgete en una nueva era de éxito digital con Mizzle. Nuestro equipo combina un diseño vanguardista con un desarrollo sólido para crear sitios web que cautivan y convierten.</p>
                    <ul class="mb-10">
                      <li class="p-2">

                        <i class="fa fa-check-circle text-[#09b850] mr-2"></i>
                        <font> Énfasis en soluciones basadas en el retorno de la inversión</font>
                      </li>
                      <li class="p-2">
                        <i class="fa fa-check-circle text-[#09b850] mr-2"></i>
                        <font> Énfasis en soluciones basadas en el retorno </font>
                      </li>
                      <li class="p-2">
                        <i class="fa fa-check-circle text-[#09b850] mr-2"></i>
                        <font> Énfasis en soluciones basadas en el retorno de la inversión (ROI)</font>
                      </li>
                    </ul>
                    <a type="boton" class="bg-blue-500 hover:bg-blue-700 w-48 text-center text-white font-bold py-2 px-4 rounded">Ver más</a>
                  </div>
                </div>


            </section>
          </div>
        </div>
      </div>

    <!-- SECCTION DE MAS SERVICIOS -->
    <div class="relative bg-gradient-to-br w-full p-6 flex flex-col gap-5 text-white items-center justify-center">
      <!-- Animated background elements -->
      <div class="absolute top-0 left-0 w-full h-full overflow-hidden opacity-20">
        <div class="absolute top-20 left-10 w-32 h-32 bg-blue-500 rounded-full filter blur-3xl animate-float1"></div>
        <div class="absolute top-40 right-20 w-40 h-40 bg-purple-500 rounded-full filter blur-3xl animate-float2"></div>
        <div class="absolute bottom-10 left-1/2 w-48 h-48 bg-cyan-500 rounded-full filter blur-3xl animate-float3"></div>
      </div>
      <div class=" h-auto w-full">
        <div class="text-white text-center mt-[50px] text-[3.1rem] mb-10 font-bold">
          <p class="text-4xl">We offer the best services </p>
          <p class="text-4xl">Exclusively for you.</p>
        </div>
        <div class="flex justify-around mb-[30px]">
          <div class="grid mt-[50px] xs:grid-cols-4 sm:grid-cols-4 lg:grid-cols-4 grid-cols-1 gap-8 justify-center items-center p-4 h-full md:w-[70vw] lg:w-[70vw] xl:w-[70vw] 2xl:w-[70vw] w-[90vw]">
            <div class="flex flex-col  h-[250px]  bg-[#1a2433] mt-[2.5rem]  rounded-sm transition-all duration-500 ease-in-out hover:scale-110">
              <div class="car_body px-4 py-2">
                 <div class="car_icon mt-[-2.5rem] mb-[1.6rem] rounded-[50%] text-[1.2rem] bg-white text-[#64DD17] w-[3.5rem] h-[3.5rem] flex justify-center items-center line-height-[3.5rem]">
                    <fa-icon [icon]="faCubes"  aria-hidden="true"></fa-icon>
                 </div>
                 <h5 class="align-middle text-[1.4rem]  font-bold mb-5 " >Seguros de vida</h5>
                 <p class="align-middle text-[0.8rem]  text-[#bebcbc] font-semibold mb-5 ">Aca encuentras todas las opciones de seguros de vida</p>
              </div>
              <div class="car_footer px-4 py-2">
                <a class="hover:text-[#64DD17] flex items-center justify-flex-start gap-1"   href=""><font> Saber mas</font><span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
              </div>

            </div>
            <div class="flex flex-col  h-[250px]  bg-[#1a2433] mt-[2.5rem]  rounded-sm transition-all duration-500 ease-in-out hover:scale-110">
              <div class="car_body px-4 py-2">
                 <div class="car_icon mt-[-2.5rem] mb-[1.6rem] rounded-[50%] text-[1.2rem] bg-white text-[#64DD17] w-[3.5rem] h-[3.5rem] flex justify-center items-center line-height-[3.5rem]">
                  <fa-icon [icon]="faUser"  aria-hidden="true"></fa-icon>
                 </div>
                 <h5 class="align-middle text-[1.4rem] font-bold mb-5 " >Seguros de vida</h5>
                 <p class="align-middle text-[0.8rem] text-[#bebcbc] font-semibold mb-5 ">Aca encuentras todas las opciones de seguros de vida</p>
              </div>
              <div class="car_footer px-4 py-2 h-full ">
                <a class="hover:text-[#64DD17] flex items-center justify-flex-start gap-1"   href=""><font> Saber más</font><span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
              </div>

            </div>
            <div class="flex flex-col  h-[250px]  bg-[#1a2433] mt-[2.5rem]  rounded-sm transition-all duration-500 ease-in-out hover:scale-110">
              <div class="car_body px-4 py-2">
                 <div class="car_icon mt-[-2.5rem] mb-[1.6rem] rounded-[50%] text-[1.2rem] bg-white text-[#64DD17] w-[3.5rem] h-[3.5rem] flex justify-center items-center line-height-[3.5rem]">
                   <fa-icon [icon]="faStar"  aria-hidden="true"></fa-icon>
                 </div>
                 <h5 class="align-middle text-[1.4rem] font-bold mb-5 " >Seguros de vida</h5>
                 <p class="align-middle text-[0.8rem] text-[#bebcbc] font-semibold mb-5 ">Aca encuentras todas las opciones de seguros de vida</p>
              </div>
              <div class="car_footer px-4 py-2 h-full ">
                <a class="hover:text-[#64DD17] flex items-center justify-flex-start gap-1"   href=""><font> Saber más</font><span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
              </div>

            </div>
            <div class="flex flex-col  h-[250px]  bg-[#1a2433] mt-[2.5rem]  rounded-sm transition-all duration-500 ease-in-out hover:scale-110">
              <div class="car_body px-4 py-2">
                 <div class="car_icon mt-[-2.5rem] mb-[1.6rem] rounded-[50%] text-[1.2rem] bg-white text-[#64DD17] w-[3.5rem] h-[3.5rem] flex justify-center items-center line-height-[3.5rem]">
                  <span class="fa fa-handshake" aria-hidden="true"></span>
                 </div>
                 <h5 class="align-middle text-[1.4rem] font-bold mb-5 " >Seguros de vida</h5>
                 <p class="align-middle text-[0.8rem] text-[#bebcbc] font-semibold mb-5 ">Aca encuentras todas las opciones de seguros de vida</p>
              </div>
              <div class="car_footer px-4 py-2 h-full ">
                <a class="hover:text-[#64DD17] flex items-center justify-flex-start gap-1"   href=""><font> Saber más </font><span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
              </div>

            </div>
            <!-- DIPLICADOS -->
            <div class="flex flex-col  h-[250px]  bg-[#1a2433] mt-[2.5rem]  rounded-sm transition-all duration-500 ease-in-out hover:scale-110">
              <div class="car_body px-4 py-2">
                 <div class="car_icon mt-[-2.5rem] mb-[1.6rem] rounded-[50%] text-[1.2rem] bg-white text-[#64DD17] w-[3.5rem] h-[3.5rem] flex justify-center items-center line-height-[3.5rem]">
                  <span class="fa fa-calendar" aria-hidden="true"></span>
                 </div>
                 <h5 class="align-middle text-[1.4rem] font-bold mb-5 " >Seguros de vida</h5>
                 <p class="align-middle text-[0.8rem] text-[#bebcbc] font-semibold mb-5 ">Aca encuentras todas las opciones de seguros de vida</p>
              </div>
              <div class="car_footer px-4 py-2 h-full ">
                <a class="hover:text-[#64DD17] flex items-center justify-flex-start gap-1"   href=""><font> Saber más</font><span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
              </div>

            </div>
            <div class="flex flex-col  h-[250px]  bg-[#1a2433] mt-[2.5rem]  rounded-sm transition-all duration-500 ease-in-out hover:scale-110">
              <div class="car_body px-4 py-2">
                 <div class="car_icon mt-[-2.5rem] mb-[1.6rem] rounded-[50%] text-[1.2rem] bg-white text-[#64DD17] w-[3.5rem] h-[3.5rem] flex justify-center items-center line-height-[3.5rem]">
                  <span class="fa fa-users" aria-hidden="true"></span>
                 </div>
                 <h5 class="align-middle text-[1.4rem] font-bold mb-5 " >Seguros de vida</h5>
                 <p class="align-middle text-[0.8rem] text-[#bebcbc] font-semibold mb-5 ">Aca encuentras todas las opciones de seguros de vida</p>
              </div>
              <div class="car_footer px-4 py-2 h-full ">
                <a class="hover:text-[#64DD17] flex items-center justify-flex-start gap-1"   href=""><font> Saber más</font><span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
              </div>

            </div>
            <div class="flex flex-col  h-[250px]  bg-[#1a2433] mt-[2.5rem]  rounded-sm transition-all duration-500 ease-in-out hover:scale-110">
              <div class="car_body px-4 py-2">
                 <div class="car_icon mt-[-2.5rem] mb-[1.6rem] rounded-[50%] text-[1.2rem] bg-white text-[#64DD17] w-[3.5rem] h-[3.5rem] flex justify-center items-center line-height-[3.5rem]">
                    <fa-icon [icon]="faCogs"  aria-hidden="true"></fa-icon>
                 </div>
                 <h5 class="align-middle text-[1.4rem] font-bold mb-5 " >Seguros de vida</h5>
                 <p class="align-middle text-[0.8rem] text-[#bebcbc] font-semibold mb-5 ">Aca encuentras todas las opciones de seguros de vida</p>
              </div>
              <div class="car_footer px-4 py-2 h-full ">
                <a class="hover:text-[#64DD17] flex items-center justify-flex-start gap-1"   href=""><font> Saber más</font><span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
              </div>

            </div>
            <div class="flex flex-col  h-[250px]  bg-[#1a2433] mt-[2.5rem]  rounded-sm transition-all duration-500 ease-in-out hover:scale-110">
              <div class="car_body px-4 py-2">
                 <div class="car_icon mt-[-2.5rem] mb-[1.6rem] rounded-[50%] text-[1.2rem] bg-white text-[#64DD17] w-[3.5rem] h-[3.5rem] flex justify-center items-center line-height-[3.5rem]">
                  <span class="fa fa-university" aria-hidden="true"></span>
                 </div>
                 <h5 class="align-middle text-[1.4rem] font-bold mb-5 " >Seguros de vida</h5>
                 <p class="align-middle text-[0.8rem] text-[#bebcbc] font-semibold mb-5 ">Aca encuentras todas las opciones de seguros de vida</p>
              </div>
              <div class="car_footer px-4 py-2 h-full ">
                <a class="hover:text-[#64DD17] flex items-center justify-flex-start gap-1"   href=""><font> Saber más </font><span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
    <div class=" h-[70vh] w-full " >
        <div class="cuadro_serevices  h-full w-full  ">
          <div class="bg-[#000000b3] h-full w-full flex flex-col items-center justify-center text-white">
            <div class="mb-6 text-center">
              <p class="text-4xl">Proven track record of delivering results</p>
            </div>
            <div>
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ver Mas Servicios</button>
            </div>

          </div>
        </div>
    </div>



</div>
<app-home-contact></app-home-contact>

<span
  class="fixed text-5xl bottom-10 right-5 z-90 fa-brands fa-whatsapp cursor-pointer
  text-[#128c3b] transition-all duration-300
  hover:text-[#25d366] hover:scale-110">
</span>

<app-footer></app-footer>
