.cuadro_principal {
  background-image: url('/assets/images/img-family-seguros.png');
  background-size: auto;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: left;
  background-size: contain;
}
