<app-header></app-header>
<div class="w-full color-primary relative">
  <div class="container mx-auto px-4">
    <div class="flex flex-col items-center text-center justify-center">
      <div class="w-[75%] h-full">

          <img src="/assets/images/contact.jpg" class="rounded w-full  object-cover" alt="">

        <div class="mt-[-5.5rem] flex flex-col items-center text-center">
          <div class="w-[75%] flex flex-col items-center h-full ">
            <div class=" card p-10 w-full rounded-sm bg-[#1a2433] text-white shadow-lg mb-10">
              <div class="carrd-header text-left">
                <h3 class="text-2xl font-bold">{{"contact.title" | translate}}</h3>
                <h2 class="text-white!">Lorem ipsum dolor sit amet, consectetur acommodo consequat.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              </div>
              <div class="w-full mt-10">
                <div class="w-full">
                  <form [formGroup]="form" class="space-y-6">
                    <div class="flex flex-col">
                      <div class="mt-2 relative">
                        <input formControlName="name" id="name" type="text"  required class="block w-full border rounded-md bg-[#1a2433] px-3 py-2.5 text-base  outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-700 focus:outline-2 focus:-outline-offset-2 focus:outline-[#fff] sm:text-sm/6" />
                        <label for="name" class="font-semibold text-left text-gray-200">{{"contact.form.name" | translate}}</label>
                      </div>
                    </div>
                    <div class="flex flex-col">
                      <div class="mt-2 relative">
                        <input formControlName="email" id="email" type="text" name="email" required class="block w-full rounded-md bg-[#1a2433] px-3 py-2.5 border  outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-[#fff] sm:text-sm/6" />
                        <label for="email" class="font-semibold text-left text-gray-200">{{"contact.form.email" | translate}}</label>
                      </div>
                    </div>
                    <div class="flex flex-col">
                      <div class="mt-2 relative">
                        <input formControlName="phone" id="phone" type="text" name="phone" required  class="block w-full border rounded-md bg-[#1a2433] px-3 py-2.5 text-base  outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-[#fff] sm:text-sm/6" />
                        <label for="phone" class="font-semibold text-left text-gray-200">{{"contact.form.phone" | translate}}</label>
                      </div>
                    </div>

                    <div class="flex flex-col">
                      <div class="mt-2 relative">
                        <textarea formControlName="message" id="message" type="text" name="message" required  class="block w-full border rounded-md bg-[#1a2433] px-3 py-2.5 text-base  outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-[#fff] sm:text-sm/6"></textarea>
                        <label for="message" class="font-semibold text-left text-gray-200">{{"contact.form.message" | translate}}</label>
                      </div>
                    </div>

                    <div class="w-full flex justify-center text-center">
                      <button type="submit" (click)="submitForm()" class="cursor-pointer flex w-[70%] justify-center rounded-md bg-[#64DD17] px-3 py-1.5 text-white font-semibold  hover:bg-[#09B850] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#09B850]">enviar</button>
                    </div>
                  </form>

                  <p class="mt-10 text-center text-sm/6 text-gray-400">
                    Not a member?
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="grid-cols-1 lg:grid-cols-3 w-full mt-10 grid justify-between text-left text-gray-400 gap-10 mb-10">
        <div  class="p-6 shadow-lg bg-white/10 border rounded">
          <span class="fa fa-map-marker-alt text-[#64DD17] text-[2.5rem] mb-5 " aria-hidden="true"></span>
          <h5 class="text-2xl font-bold">
            Hola mundo
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="p-6 shadow-lg bg-white/10 border rounded">
          <span class="fa fa-phone text-[#64DD17] text-[2.5rem] mb-5 " aria-hidden="true"></span>
          <h5 class="text-2xl font-bold">
            Hola mundo
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="p-6 shadow-lg bg-white/10 border rounded">
          <span class="fa fa-envelope text-[#64DD17] text-[2.5rem] mb-5 " aria-hidden="true"></span>
          <h5 class="text-2xl font-bold">
            Hola mundo
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full mt-10">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.624900385359!2d-84.14913122342874!3d33.89931307321493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5a45ee410e8e5%3A0x1c6e101c68182178!2s680%20Hillcrest%20Rd%20NW%2C%20Lilburn%2C%20GA%2030047%2C%20EE.%20UU.!5e0!3m2!1ses-419!2sco!4v1755432618039!5m2!1ses-419!2sco" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<app-footer></app-footer>
