<div
  class="transition border border-gray-300 border-dashed cursor-pointer
         dark:hover:border-brand-500 dark:border-gray-700 rounded-xl p-5 h-auto hover:border-brand-500"
  [ngClass]="isDragActive
    ? 'border-brand-500 bg-gray-100 dark:bg-gray-800'
    : 'border-gray-300 bg-gray-50 dark:border-gray-700 dark:bg-gray-900'"
  (click)="fileInput.click()"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <!-- Input oculto -->
  <input
    #fileInput
    type="file"
    accept="image/png, image/jpeg, image/webp, image/svg+xml"
    multiple
    style="display: none"
    (change)="onFileSelected($event)"
  />

  <div class="dz-message flex flex-col items-center relative">
    <!-- Icono -->
    <div class="mb-5 flex justify-center">
      <div
        class="flex h-fit  items-center justify-center rounded-full
               bg-gray-200 text-gray-700 dark:bg-gray-800 dark:text-gray-400"
      >
        📂
      </div>
    </div>

    <!-- Texto dinámico -->
    <h4 class="mb-3 font-semibold text-gray-800 text-theme-xl dark:text-white/90">
      {{ isDragActive ? 'Coloca tus imágenes aquí' : 'Arrastra y suelta tus imágenes aquí' }}
    </h4>

    <span class="text-center mb-5 block w-full max-w-[290px] text-sm text-gray-700 dark:text-gray-400">
      Archivos permitidos: PNG, JPG, WebP, SVG
    </span>

    <span class="font-medium underline text-theme-sm text-brand-500">
      Buscar Archivo
    </span>

    @if (previews.length > 0) {
      <div class="w-full">
        @for (item of previews; track $index) {
          <div class="relative">
            <img
              [src]="item"
              class="w-full object-contain rounded-lg border border-gray-300 shadow"
            />
          </div>
        }
      </div>
    }

  </div>
</div>
